$offwhite: #fafafa;
$green: #65f29b;
$orange: #FFB86A;

%LatinModernMono {
  font-family: "Latin Modern Mono", monospace;
}

@import "//brick.a.ssl.fastly.net/Latin+Modern+Mono:400";

* {
  box-sizing: border-box;
}

html {
  background-color: $offwhite;
}

body {
  margin: 0 3em;
  font-size: 1.25em;
  overflow-x: hidden;

  @media (max-width: 500px) {
    margin: 0;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 140%;
    height: 50%;
    left: -20%;
    top: 25%;
    background-color: $green;
    transform: rotate(-10deg) skew(-20deg);

    @media (max-width: 500px) {
      height: 80%;
      top: 15%;
    }
  }
}

#wrap {
  @extend %LatinModernMono;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: $green;
  letter-spacing: 4px;

  @media (max-width: 600px) {
    font-size: 1.5em;
  }

  @media (max-width: 500px) {
    letter-spacing: 0;
  }
}

p {
  font-size: 1.125em;
}

#tweet {
  @extend %LatinModernMono;
  display: block;
  width: 100%;
  height: 250px;
  padding: 0.5em 0.5em 1.5em;
  margin-bottom: 2em;
  border: 10px solid $green;
  resize: none;
  font-size: 1em;
  background-color: $offwhite;
  transition: border-color ease 0.2s;

  &:focus,
  &:active {
    outline: 0;
    border-color: $orange;
  }
}

button {
  @extend %LatinModernMono;
  cursor: pointer;
  display: block;
  padding: 0.5em;
  border: 5px solid $green;
  margin: 0 auto;
  background-color: $offwhite;
  transition: border-color ease 0.2s;

  &:focus,
  &:active {
    outline: 0;
    border-color: $orange;
  }

  &#submit {
    position: relative;
    margin-top: -2.5em;
    font-size: 1.5em;
  }

  &#reset {
    font-size: 0.75em;
    margin-top: 1em;
  }
}

#output {
  margin-top: 1em;
  background-color: #fafafa;
  border: 10px solid $green;

  p {
    padding: 0.5em;
  }
}

footer {
  clear: both;
  text-align: center;
  background-color: $green;
  padding: 1em 0;

  a {
    color: lighten($green, 25);
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
      color: #fff;
    }
  }
}
